@use './sharedVariables' as *;

.aboutContainer{
    background-color: rgb(182, 243, 243);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.leftRail{
    grid-column: 1 / span 1;
    background-color: rgb(243, 250, 255);
    width: auto;
}


.rightRail{
    grid-column: 2 / span 2;
    width: auto;
    height:3000px;
    padding:48px;
}
.leftFloat{
    position: sticky;
    top:0;
    padding: 48px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.photoContainer{
    width: auto;
    aspect-ratio: 300/380;
    border-radius: $rounded;
    background-color: purple;
}

.photoContainer > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leftInfoContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.leftInfoContainer > a{
    text-decoration: none;
    color: $brand-600;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding-left: 4px;
}

.aboutIcon{
    filter: $brand-filter;
    border-radius: 0;
    height: 24px;
    width: 24px;
}

.aboutTag{
    color: $brand-500;
}

p, h1, h2{
    padding-bottom: 12px;
    padding-top: 12px;
}


@media only screen and (width <= $desktop) {

    .aboutContainer{
        gap: 1.5rem;
    }

    .rightRail, .leftFloat{
        padding:12px;
    }


}

@media only screen and (width <= $mobile) {

    .photoContainer{
        width: auto;
        aspect-ratio: 300/300;
        max-width: 260px;
        border-radius: $rounded;
        background-color: purple;
    }


    .aboutContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .leftInfoContainer{
        align-items: center;
    }

    .leftFloat{
        display: flex;
        align-items: center;
    }
}



