@use './sharedVariables' as *;

.archiveContainer h1, .archiveContainer h2, .archiveContainer h3{
    text-align: center;
    color: $brand-500;
    padding: 1rem 0px;
}

.archiveContainer h1{
    font-family: $font-script;
    font-weight: 500;
    font-size: 80px;
    padding-bottom: 2rem;
}

.projectContainer h2{
    font-size: 24px;
}


.archiveContainer p{
    text-align: center;
    padding: 1rem 0px;
}