@use './sharedVariables' as *;

.btn-container{
    height:30px;
    width: fit-content;
    padding:8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100px;

    transition: linear 100ms;
}

.btn-text{
    text-decoration: none;
}

.btn-icon{
    height: 30px;
    width:30px;
    background-color: white;
}



.btn-container{
    background-color: $brand-500;
}

.btn-container > .btn-text{
    color: $text-invert;
}

.btn-container:hover{
    background-color: $brand-700;
}



.btn-container.secondary{
    border: 1px solid $greyscale-500;
    background-color: transparent;
}

.btn-container.secondary > .btn-text{
    color: $text-default;
}

.btn-container.secondary:hover{
    background-color: $brand-300;
}



.btn-container.tertiary{
    border: 1px solid $greyscale-100;
    background-color: transparent;
}

.btn-container.tertiary > .btn-text{
    color: $text-invert;
}

.btn-container.tertiary:hover{
    background-color: $brand-600;

}