@use './sharedVariables' as *;

.btn-container{
    padding:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 100px;
    border: 1px solid $brand-dark;
    background-color: white;

    transition: linear 100ms;
    
}

.btn-container:hover{
    background-color: $brand-light;
}

.btn-text{
    text-decoration: none;
}

.btn-icon{
    height: 30px;
    width:30px;
    background-color: white;
}