@use './sharedVariables' as *;

.btn-container{
    height:30px;
    width: fit-content;
    padding:8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100px;

    transition: linear 100ms;
}

.btn-text{
    text-decoration: none;
}

.btn-icon{
    height: 30px;
    width:30px;
    background-color: white;
}



.btn-container.primary{
    background-color: $brand-primary;
}

.btn-container.primary > .btn-text{
    color: $text-invert;
}

.btn-container.primary:hover{
    background-color: $brand-dark;
}



.btn-container.secondary{
    border: 1px solid $greyscale-500;
    background-color: white;
}

.btn-container.secondary > .btn-text{
    color: $text-primary;
}

.btn-container.secondary:hover{
    background-color: $brand-light;
}