.featuredCardContainer{
    background-color:grey;
    width: 300px;
    display: flex;
    flex-direction:column;

    padding: 8px;
    margin: 0px;
}

.featuredCardImage{
    height:160px;
    width: 100%;

    background-color: white;
}

.project-title{

}

.project-blurb{

}