@use './sharedVariables' as *;


footer{
    margin-top: 48px;
    overflow-x: hidden;
}



#footerTop{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px;

    max-width: $max-app-container;
}


#footerColumn{
    display: flex;
    flex-direction: column;
    gap: 12px;
}


#footerName{
    font-weight: 700;
    font-family: $font-script;
    color: $brand-500;
    font-size: x-large;
}

#footerSocials{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footerIcon{
    height: 32px;
    width: 32px;
    border-radius: 0;
}



#footerNav{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#footerNav a{
    text-decoration: none;
    color: $text-default;
}

#footerNav a:hover{
    color: $brand-500;
}   


#footerBottom p{
    color: $brand-500;
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footerBottom{
    display: flex;
    padding: 12px 0px;
    margin-top: 24px;
    width : auto;
    
    text-align: center;
    justify-content: center;
    background-color: $brand-200;
}

#footerHeart{
    height: 12px;
    width: 12px;
}



@media only screen and (width <= $mobile) {
    #footerTop{
        margin: 24px 24px;
    }
}

// mobile and up 
@media only screen and (width > $mobile) {
    #footerTop{
        margin: 0px 100px;
    }
}

@media only screen and (width > $desktop) {
    #footerTop{
        margin: 0 auto 0 auto;
    }
}