@use './sharedVariables' as *;

.galleryGrid {
    max-width: 100%;
    padding: 2rem 0;
}

.gridSizer,.gridItem { width: 32.5% }
.gutterSizer { width: 1% }
.gridItem {
    margin-bottom: .6%
}

.gridZoomImg{
    padding: 0 !important;
    margin: 0 !important;
}

@media only screen and (width <= $desktop) {
    .gridSizer,.gridItem { width: 49% }
    .gridItem {margin-bottom: 2px}
}