@use './sharedVariables' as *;

.grid{
    display: grid;
    padding: 4rem 0rem;
    gap: 4%;
    grid-template-columns:  1fr 1fr;
}

//mobile devices
@media only screen and (max-width: $mobile) {
    .grid{
        grid-template-columns: 1fr;
        padding: 2rem 0rem;
        gap: 2%;
    }

}