@use './sharedVariables' as *;

.grid{
    display: grid;
    padding: 4rem 0rem;
    grid-template-columns:  1fr 1fr;
}

//mobile devices
@media only screen and (width <= $mobile) {
    .grid{
        grid-template-columns: 1fr;
        padding: 2rem 0rem;
        gap: 2rem; //do NOT use %, breaks layout calcs
    }

}

@media only screen and (width > $mobile) {
    .grid{
        gap: 2rem;
    }
}

@media only screen and (width > $desktop) {
    .grid{
        gap: 4rem;
    }
}

