@use './sharedVariables' as *;

.home-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    padding: 2% 5% 4% 5%;

    gap: 2rem;
    border-radius: $rounded;
    background-color: white;
}

.home-hero-background-text{
    width: 100%;
    text-align: center;
    font-family: $font-chinese;
    
    color: $brand-200;
    font-weight: 700;

    position: relative;
    top: 2rem;

    font-size: 11vw;
    line-height:80%;
    letter-spacing: 2.5rem;

    user-select: none;   
    cursor: default;
}

.home-hero-title, .home-hero-blurb{
    color: $text-default;
    text-align: center;
    z-index: 2;
}

.home-hero-title{
    font-size: 3.5rem;
    font-family: $font-script;
    color: $brand-500;
}

@media only screen and (width <= $mobile) {

    .home-hero-container{
        height:auto;
    }

    .home-hero-title{
        font-size: 2.5rem;
    }

}