@use './sharedVariables' as *;

.infoHighlightContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 4rem 0;
}

.infoHighlightItem{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $brand-100;
    padding: $spacing-md;
    border-radius: $rounded;

}


.infoHighlightIcon{
    border-radius: 0;
    filter: $brand-filter;
}

.infoHighlightLabel{
    font-weight: 700;
    color: $brand-500;

    text-transform: uppercase;
    letter-spacing: .2rem;
}

.infoHighlightDescription{
    color: $text-default;
    text-align: center;
}