@use './sharedVariables' as *;

nav{
    display: flex;
    flex-direction: row;
    
    padding-bottom: 24px;
    justify-content: center;
}


nav > ul{
    display: flex;
    gap: 42px;
    list-style-type: none;
    padding: 0;
}

nav > li{
    display: inline;
}

a{
    color: black;
    text-decoration: none;
}

a.active{
    color: $brand-500;
}
