@use './sharedVariables' as *;

nav{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;

    font-family: $font-default;
    letter-spacing: 2px;
}


nav > ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    gap: 60px;
    list-style-type: none;
    padding: 0;
}

nav > li{
    display: inline;
    text-align: center;
}

nav a{
    color: $text-default;
    text-decoration: none;
}

nav a.active{
    color: $brand-500;
}

nav a:hover{
    color: $brand-600;
}


//mobile devices
@media only screen and (max-width: $mobile) {
    nav > ul{
        flex-direction: column;
        align-items: center;
    }

}