@use './sharedVariables' as *;

.zoomImg{
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
}

table{
    text-align: left;
    border-collapse: separate;
    border-radius: 8px;
    border: 1px solid $brand-400;
    margin: 3rem 0;
}



td, th {
    text-align: left;
    padding: 12px;
}
th{ background-color: $brand-200; color: $brand-500;}

.projectContainer a{
    color: $brand-500;
    font-weight: 700;
    text-decoration-color: #FFFFFF00;
    transition: ease-in-out 150ms;
}

.projectContainer a:hover{
    color: $brand-700;
    text-decoration: underline;
    text-decoration-color: $brand-700;
}

.projectContainer{
    display: flex;
    flex-direction:column;
    columns: 1fr;

    transition: linear 200ms;
}


.projectCoverImg {
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.projectDetails{
    background-color: $surface-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-lg 0;
    gap: .5rem;
    border-radius: $rounded;
}

.label{
    font-weight: 700;
    color: $text-default;
}

.labelValue{
    color: $greyscale-500;
}

.projectOverview{
    display: flex;
    flex-direction: column;
}

.projectTitleDescription{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectContent{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (width <= $mobile) {
    .projectContainer{
        padding: 0;
    }
    .projectDetails{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .projectOverview{
        flex-direction: column-reverse ;
    }

    .projectCoverImg{
        aspect-ratio: 1.5;
        width: 100%;
        height: auto;
    }

    h1{
        font-size: 24px;
    }

    table, img{
        margin: 1rem 0;
    }

}

@media only screen and (width > $mobile) {
    .projectContainer{
        padding: 0 0;
    }

    .projectOverview{
        flex-direction: column-reverse ;
    }

}

@media only screen and (width > $desktop){
    .projectContainer{
        gap: 1rem; //between item spacing
        padding: 3% 10%;
    }

    .projectOverview{
        flex-direction: column ;
    }
}