@use './sharedVariables' as *;

.projectContainer{
    background-color: $surface-light;

    display: flex;
    flex-direction:column;
    gap: .75rem;
    padding: 5% 15%;


    transition: linear 200ms;
    
}

.projectCoverImg {
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}

.projectDetails{
    background-color: $surface-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-lg 0;
    gap: .5rem;
    border-radius: $rounded;
}

.label{
    font-weight: 700;
    color: $text-default;
}

.labelValue{
    color: $greyscale-500;
}