//media queries
$max-app-container: 1340px;
$desktop: 1500px;
$mobile: 768px;

//colors
$brand-700: #531aa9;
$brand-600: #5c32c5;
$brand-500: #6c5dd1;
$brand-400: #ab93ec;
$brand-300: #ccbcf8;
$brand-200: #efe9ff;
$brand-100: #f2edff;

$greyscale-700: #1a1a1a;
$greyscale-600: #2f2f2f;
$greyscale-500: #636363;
$greyscale-400: #949494;
$greyscale-300: #b3b3b3;
$greyscale-200: #e6e6e6;
$greyscale-100: #ffffff;


$text-primary: $greyscale-600; 
$text-invert: $greyscale-100;

$surface-light: $greyscale-100;
$surface-dark: $greyscale-700;


//spacing
$spacing-xl: 48px;
$spacing-lg: 24px;
$spacing-md: 16px;
$spacing-sm: 8px;
$spacing-xs: 4px;