//media queries
$max-app-container: 1340px;
$desktop: 1500px;
$mobile: 768px;

//colors
$brand-700: #073363;
$brand-600: #1d64af;
$brand-500: #3787dc;
$brand-400: #7bb1eb;
$brand-300: #cbe4ff;
$brand-200: #ecf5ff;
$brand-100: #f2f8ff;

$greyscale-700: #1a1a1a;
$greyscale-600: #2f2f2f;
$greyscale-500: #636363;
$greyscale-400: #949494;
$greyscale-300: #b3b3b3;
$greyscale-200: #e6e6e6;
$greyscale-100: #ffffff;


$text-default: $greyscale-600; 
$text-invert: $greyscale-100;

$surface-light: $greyscale-100;
$surface-dark: $greyscale-700;


//spacing
$spacing-xl: 48px;
$spacing-lg: 24px;
$spacing-md: 16px;
$spacing-sm: 8px;
$spacing-xs: 4px;


