@use './sharedVariables' as *;

html, body, div{
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6  {
    margin: 0;
    padding: 0;
    color: $text-primary;
    line-height: 1.5;
}


body,
html {
    font-family: "Roboto", sans-serif;
    
    background: $surface-light;
    height: 100%;
}

//background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);


:root{
    text-size-adjust: 100%;
}


// fonts
$f-2xl: 36px;
$f-xl: 24px;
$f-lg: 20px;
$f-md: 16px;
$f-sm: 14px;
$f-xs: 12px;

// font weights
$fw-b: 600;
$fw-r: 400;
$fw-l: 300;



.app-container{
    max-width: $max-app-container;
}


//mobile devices
@media only screen and (max-width: $mobile) {
    .app-container{
        margin: 24px;
    }
        
    .rounded{
        border-radius: 12px;
    }

    .font-xl {
        font-size: $f-xl;
    }

    .font-lg {
        font-size: $f-lg;
    }

    .font-md {
        font-size: $f-md;
    }

    .font-sm {
        font-size: $f-sm;
    }

    .font-xs {
        font-size: $f-xs;
    }

    .padding-lg{
        padding: $spacing-md;
    }
    .padding-md{
        padding: $spacing-sm;
    }
    .padding-sm{
        padding: $spacing-xs;
    }

    .padding-x-lg{
        padding-left: $spacing-md;
        padding-right: $spacing-md;
    }
    .padding-x-md{
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;
    }
    .padding-x-sm{
        padding-left: $spacing-xs;
        padding-right: $spacing-xs;
    }

    .padding-y-lg{
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }
    .padding-y-md{
        padding-top: $spacing-sm;
        padding-bottom: $spacing-sm;
    }
    .padding-y-sm{
        padding-top: $spacing-xs;
        padding-bottom: $spacing-xs;
    }

}

// mobile and up 
@media only screen and (min-width: $mobile) {
    .app-container{
        margin: 60px 80px;
    }

    .rounded{
        border-radius: 18px;
    }

    .font-xl {
        font-size: $f-2xl;
    }

    .font-lg {
        font-size: $f-xl;
    }

    .font-md {
        font-size: $f-md;
    }

    .font-sm {
        font-size: $f-sm;
    }

    .font-xs {
        font-size: $f-xs;
    }

    .padding-lg{
        padding: $spacing-lg;
    }
    .padding-md{
        padding: $spacing-md;
    }
    .padding-sm{
        padding: $spacing-sm;
    }

    .padding-x-lg{
        padding-left: $spacing-lg;
        padding-right: $spacing-lg;
    }
    .padding-x-md{
        padding-left: $spacing-md;
        padding-right: $spacing-md;
    }
    .padding-x-sm{
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;
    }

    .padding-y-lg{
        padding-top: $spacing-lg;
        padding-bottom: $spacing-lg;
    }
    .padding-y-md{
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }
    .padding-y-sm{
        padding-top: $spacing-sm;
        padding-bottom: $spacing-sm;
    }


}

// widescreen
@media only screen and (min-width: $desktop){
    .app-container{
        margin: 60px auto 80px auto;
    }
}
